<template>
<div>
  <ul>
    <template v-for="item in blogList">
      <li>{{ item.name }} {{ item.size }}</li>
    </template>
  </ul>
</div>
</template>


<script>
var apiURL = 'http://127.0.0.1:8000/posts'

export default {
  name: 'Posts',
  data () {
    return {
      blogList: fetchData()
    }
  },

  created: function () {
    console.log('asdasd')
  },

  methods: {
    fetchData: function () {
      var xhr = new XMLHttpRequest()
      var self = this
      xhr.open('GET', apiURL)
      xhr.onload = function () {
        self.blogList = JSON.parse(xhr.responseText)
        console.log(self.blogList)
      }
      xhr.send()
    }
  }
}
</script>
